[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
sklearn = "*"
jupyter = "*"

[requires]
python_version = "3.6"
