--extra-index-url https://download.pytorch.org/whl/cu126
python-dateutil
jupyterlab
numpy
matplotlib
scikit-learn
click
my_fake_useragent
diskcache
pyparsing
lxml
dill
pandas
torch==2.7.0+cu126
torchvision==0.22.0
pypinyin